.about-wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
}

.text-content {
  flex: 2;
  padding-right: 5em;
}

.text-content h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 15px;
}

.text-content .quote {
  text-align: right;
  font-style: italic;
  margin-top: 20px;
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image-content img {
  max-width: 100%;
  height: auto;
}

/* Estilos para a seção de habilidades e ferramentas */
.skills-container,
.tools-container {
  text-align: center;
}

.tools-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.skills-container h2,
.tools-container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.skills-grid,
.tools-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.item-with-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-with-gradient img {
  max-width: 70%;
  height: auto;
  z-index: 2;
}

/* Animação de gradiente para os cards está no styles.css */

@keyframes border-glow {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 300% 0;
  }
}

@media (max-width: 600px) {
  .about-wrapper {
    margin-top: 5em;
    flex-direction: column;
    text-align: center;
    min-height: auto;
  }

  .text-content {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .text-content .quote {
    text-align: center;
  }

  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills-container {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .skills-grid,
  .tools-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}