<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>Projetado e desenvolvido por Victor</p>
    </div>
    <div class="footer-center">
      <p>Copyright © 2025</p>
    </div>
    <div class="footer-right">
      <a
        href="https://github.com/VictorSouza112"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>
          <img
            src="../assets/img/components/footer/github.svg"
            alt="Ícone Github"
            class="icon-light"
          />
        </span>
      </a>
      <a
        href="https://www.linkedin.com/in/victor-de-ss"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>
          <img
            src="../assets/img/components/footer/linkedin.svg"
            alt="Ícone LinkedIn"
            class="icon-light"
          />
        </span>
      </a>
    </div>
  </div>
</footer>