<header>
  <nav>
    <ul>
      <li>
        <a href="../pages/home.html">
          <img
            src="../assets/img/components/header/home-icon.svg"
            alt="Ícone Home"
          />
          Home
        </a>
      </li>
      <li>
        <a href="../pages/about.html">
          <img
            src="../assets/img/components/header/about-icon.svg"
            alt="Ícone About"
          />
          Sobre
        </a>
      </li>
      <li>
        <a href="../pages/projects.html">
          <img
            src="../assets/img/components/header/projects-icon.svg"
            alt="Ícone Projects"
          />
          Projetos
        </a>
      </li>
      <li>
        <a href="../pages/experience.html">
          <img
            src="../assets/img/components/header/experience-icon.svg"
            alt="Ícone Projects"
          />
          Experiências
        </a>
      </li>      <li>
        <a href="../pages/certificates.html">
          <img
            src="../assets/img/components/header/certificates-icon.svg"
            alt="Ícone Projects"
          />
          Certificados
        </a>
      </li>
    </ul>
  </nav>
  <div class="buttons">
    <a
      href="../assets/docs/curriculo.pdf"
      download="Victor-de-Souza-Curriculo.pdf"
    >
      <img
        src="../assets/img/components/header/resume-icon.svg"
        alt="Ícone Resume"
      />
      Resumo
    </a>
    <a
      href="https://github.com/VictorSouza112/Portfolio"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img 
        src="../assets/img/components/header/git-icon.svg" 
        alt="Ícone Git"
      />
      Github
    </a>
  </div>
</header>